<div class="jumbotron text-center">
  <h1 class="display-5">{{title}}</h1>
  <hr class="my-4">
  <div style="display: inline-flex">
    <form method="GET" action="/search" class="form-inline">
      <input class="form-control mr-sm-1" type="search" name="keyword" placeholder="Search kanji keyword..." aria-label="Search">
      <button class="btn" type="submit">Search</button>
    </form>
  </div>
</div>
